<div class='author'>
    <div class='name'>
        {{ author.name }}
    </div>
    <div class='bio'>
        {{ author.bio }}
    </div>
    <div class='link'>
        {{ author.link }}
    </div>
    <div class=''>
        <button
        class="btn" 
        *ngIf="!author.favorite"
        (click)="setFavorite(author)"
        >
        Add to favorite
        </button>
        <button 
        *ngIf="author.favorite"
        (click)="removeFavorite(author)"
        >
        Remove favorite
        </button>
    </div>
</div>
